body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F5DC;
}

.soon {
  font-size: 72px;
  font-weight: 600;
  color: #5F9EA0;
  animation: scale 2s infinite;

}

@keyframes scale {
  0%   {transform: scale(1);}
  25%  {transform: scale(1.2);}
  50%  {transform: scale(1.1);}
  75%  {transform: scale(1.2);}
  100% {transform: scale(1);}
}
